.date{
  
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
 
    
    @media screen and (min-width: 738px){
        min-height: 436px;
        min-width: 217px;
    }
}

h1{
    font-family: "Montserrat";
    color: #fff;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    margin-top: 150px;
    transition: 2s;

    @media screen and (max-width: 768px) {
        font-size: 50px;
    }
}


