.marvel-device{
	display: inline-block;
	position: relative;
	box-sizing: content-box !important;

	.screen {
		width: 100%;
		position: relative;
		height: 100%;
		z-index: 3;
		background: white;
		overflow: hidden;
		display: block;
		border-radius: 1px;
		box-shadow: 0 0 0 3px #111;
	}

	.top-bar, .bottom-bar {
		height: 3px;
		background: black;
		width: 100%;
		display: block;
	}

	.middle-bar {
		width: 3px;
		height: 4px;
		top: 0px;
		left: 90px;
		background: black;
		position: absolute;
	}



	

	
	&.iphone-x {
		width: 187px;
		height: 406px;
		padding: 12.74px;
		background: #fdfdfd;
		box-shadow:inset 0 0 11px 0 black;
		border-radius: 32px;

		.overflow {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 66px;
			overflow: hidden;
		}

		.shadow {
			border-radius: 100%;
			width: 44px;
			height: 44px;
			position: absolute;
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 60%);
		}

		.shadow--tl {
			top: -10px;
			left: -10px;
		}

		.shadow--tr {
			top: -10px;
			right: -10px;
		}

		.shadow--bl {
			bottom: -10px;
			left: -10px;
		}

		.shadow--br {
			bottom: -10px;
			right: -10px;
		}

		&:before{
			width: calc(100% - 5px);
			height: calc(100% - 5px);
			position: absolute;
			top: 2.5px;
			content: '';
			left: 2.5px;
			border-radius: 30px;
			background: #C1C1C4;
			z-index: 1;
		}

		.inner-shadow{
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			position: absolute;
			top: 5px;
			overflow: hidden;
			left: 5px;
			border-radius: 28px;
			box-shadow: inset 0 0 7.5px 0 rgba(white, 0.66);
			z-index: 1;

			&:before{
				box-shadow:inset 0 0 10px 0 #FFFFFF;
				width: 100%;
				height: 116%;
				position: absolute;
				top: -4%;
				content: '';
				left: 0;
				border-radius: 100px / 56px;
				z-index: 2;
			}
		}

		.screen {
			border-radius: 20px;
			box-shadow: none;
		}

		.top-bar, .bottom-bar {
			width: 100%;
			position: absolute;
			height: 4px;
			background: rgba(black, 0.1);
			left: 0;
		}

		.top-bar {
			top: 40px;
		}

		.bottom-bar {
			bottom: 40px;
		}

		.volume, .volume:before, .volume:after, .sleep {
			width: 1.5px;
			background: #b5b5b5;
			position: absolute;
		}

		.volume {
			left: -1.5px;
			top: 58px;
			height: 16px;

			&:before {
				height: 31px;
				top: 31px;
				content: '';
				left: 0;
			}

			&:after {
				height: 31px;
				top: 70px;
				content: '';
				left: 0;
			}
		}

		.sleep {
			height: 48px;
			top: 100px;
			right: -1.5px;
		}

		.camera {
			width: 3px;
			height: 3px;
			top: 4.5px;
			border-radius: 100%;
			position: absolute;
			left: 77px;
			background: #0d4d71;
		}

		.speaker {
			height: 3px;
			width: 30px;
			left: 50%;
			position: absolute;
			top: 4.5px;
			margin-left: -15px;
			background: #171818;
			border-radius: 3px;
		}

		.notch {
			position: absolute;
			width: 105px;
			height: 15px;
			top: 12px;
			left: 54px;
			z-index: 4;
			background: #C1C1C4;
			border-bottom-left-radius: 24px;
		    border-bottom-right-radius: 24px;

		    &:before, &:after {
				content: '';
				height: 4px;
				position: absolute;
				top: 0;
				width: 4px;
		    }

			&:after {
				background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, #C1C1C4 70%, #C1C1C4 100%);
				left: -4px;
			}

			&:before {
				background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, #C1C1C4 70%, #C1C1C4 100%);
				right: -4px;
			}
		}

		&.landscape {
			height: 375px;
			width: 812px;

			.top-bar, .bottom-bar {
				width: 8px;
				height: 100%;
				top: 0;
			}

			.top-bar {
				left: 80px;
			}

			.bottom-bar {
				right: 80px;
				bottom: auto;
				left: auto;
			}

			.volume, .volume:before, .volume:after, .sleep {
				height: 3px;
			}

			.inner-shadow:before {
				height: 100%;
				width: 116%;
				left: -8%;
				top: 0;
				border-radius: 112px / 200px;
			}

			.volume {
				bottom: -3px;
				top: auto;
				left: 116px;
				width: 32px;

				&:before {
					width: 62px;
					left: 62px;
					top: 0;
				}

				&:after {
					width: 62px;
					left: 140px;
					top: 0;
				}
			}

			.sleep {
				width: 96px;
				left: 200px;
				top: -3px;
				right: auto;
			}

			.camera {
				left: 9px;
				bottom: 154px;
				top: auto;
			}

			.speaker {
				width: 6px;
				height: 60px;
				left: 9px;
				top: 50%;
				margin-top: -30px;
				margin-left: 0;
			}

			.notch {
				height: 210px;
				width: 30px;
				left: 26px;
				bottom: 108px;
				top: auto;
				border-top-right-radius: 12px;
			    border-bottom-right-radius: 12px;
			    border-bottom-left-radius: 0;

				&:before, &:after {
					left: 0;
				}

				&:after {
					background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
					bottom: -8px;
					top: auto;
				}

				&:before {
					background: radial-gradient(circle at top right, transparent 0, transparent 70%, black 70%, black 100%);
					top: -8px;
				}
			}	
		}
	}

}
