.information{
    position: absolute;

    h3{
        font-size: 80px;
        font-weight: 100;
        color: $text-color;
        @media screen and (max-width:1147px) {
            font-size: 40px;
            transition: 1s;
            writing-mode: vertical-lr;
            text-orientation: upright;
            margin-block-start: 4px;
            margin-block-end: 4px;
        }
    }

  

    
}

.book{
    top:50%;
    left:20%;
    @media screen and (max-width:1147px) {
       left: 0; 
       transform: translateY(-50%);
       
    }
   
}

.schedule{
    top: 15%;
    right: 8%;
    @media screen and (max-width:1147px) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
     }
}

.payment{
    top: 58%;
    right: 25%;
    @media screen and (max-width:1147px) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
     }
}