@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$background-color: rgba(13, 3, 3, 0.970);
$text-color: #fff;

html, body{
    margin:0;
    padding: 0;
}
.body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/classic\ mustang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: $background-color;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    
    &::after{
        z-index: 2;
        content: url('../img/logo.svg');
        position: absolute;
        top: 55%;
        transform: translateX(60%);
        opacity: 0.05;
    }
 
}

.phone-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 9;
    background-color: transparent;
    height: 500px;
    min-width: 187px;
    left: 50%;


    @media screen and (min-width: 738px){
        min-height: 436px;
        min-width: 217px;
    }
}

header{
    margin: 2em 0 2em 0;
    text-align: center;
    width: 100%;

    .main-logo{
        max-height: 30px;
    }

}

footer{
    margin: 2em 0 2em 0;
    height: 30px;
}

@media screen and (min-width: 738px){
    .main-logo{
        float: left;
        margin-left: 140px;
    }
}

